
@font-face {
    font-family: "Geo";
    src: url("fonts/NMSGeoSansLight.ttf");
}

@font-face {
    font-family: "Josefin";
    src: url("fonts/JosefinSans.ttf");
}

@font-face {
    font-family: "Lato";
    src: url("fonts/LatoRegular.ttf");
}

:root {
	--background-color: rgb(240, 240, 240);
    --title-font: Geo;
    --header-font: Josefin;
    --text-font: Lato;
    --cursor-pointer: pointer;
    --mech-color: rgb(240, 240, 240);
    --mech-div-color: rgb(200, 200, 200);
	--mech-border-color: rgb(10, 10, 10);
	--mech-div-border-color: rgb(50, 50, 50);
    --mech-color-hover: rgb(190, 220, 240);
    --mech-div-color-hover: rgb(120, 190, 230);
    --mech-color-active: rgb(50, 150, 200);
    --mech-div-color-active: rgb(0, 75, 150);
    --mech-font-color: rgb(0, 0, 0);
    --mech-font-color-active: rgb(255, 255, 255);
	--mech-border-radius: 20px 5px 20px 5px;
}

html, body {
    padding: 0;
    margin: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
}

div.mechcontainer {
    position: absolute;
    cursor: var(--cursor-pointer);
    border-radius: var(--mech-border-radius);
	background-color: #ffffff00;
}

div.mechcontainer button {
    position: absolute;
    cursor: var(--cursor-pointer);
    user-select: none;
    top: 10%;
    left: 0px;
    width: 100%;
    height: 90%;
    font: 16px var(--header-font);
    border-radius: var(--mech-border-radius);
    border: 1px solid var(--mech-border-color);
    background-color: var(--mech-color);
    color: var(--mech-font-color);
    transition: top 0.1s ease-out, background-color 0.1s ease-out, color 0.05s ease-out;
}

div.mechcontainer div {
    position: absolute;
    cursor: var(--cursor-pointer);
    top: 20%;
    left: 0px;
    width: calc(100% - 2px);
    height: 90%;
    border-radius: var(--mech-border-radius);
    border: 1px solid var(--mech-div-border-color);
    background-color: var(--mech-div-color);
    transition: background-color 0.1s ease-out;
}

div.mechcontainer:hover button {
    background-color: var(--mech-color-hover);
    top: 0%;
    transition: top 0.1s ease-out, background-color 0.1s ease-out;
}

div.mechcontainer:hover div {
    background-color: var(--mech-div-color-hover);
    transition: background-color 0.1s ease-out;
}

div.mechcontainer:active button {
    background-color: var(--mech-color-active);
    color: var(--mech-font-color-active);
    top: 15%;
    transition: top 0.05s ease-out, background-color 0.05s ease-out;
}

div.mechcontainer:active div {
    background-color: var(--mech-div-color-active);
    transition: background-color 0.05s ease-out;
}

span.jigglespan {
    position: relative;
    font: 16px var(--header-font);
    color: inherit;
    top: 0px;
    transition: top 0.25s ease-out, font-weight 0.25s ease-out, color 0.05s ease-out;
}

span.jigglespan.jiggle {
    top: -10px;
    transition: top 0.25s ease-out, font-weight 0.25s ease-out, color 0.05s ease-out;
}