/* input fields and things */

input {
    position: absolute;
    height: 30px;
    width: 100px;
    font: 16px var(--text-font);
    background: var(--input-color);
    color: var(--text-color);
    border: 1px solid var(--input-border-color);
    border-radius: var(--input-border-radius);
    transition: background 0.1s ease-out, color 0.1s ease-out, border-color 0.1s ease-out;
}

input:hover {
    background: var(--input-color-hover);
}

input:active {
    background: var(--input-color-active);
    color: var(--input-font-color-active);
}