/* divs that are visible */

div {
    position: absolute;
}

div.panel {
    background: var(--panel-color);
    box-shadow: var(--panel-shadow);
    border: 1px solid var(--panel-border-color);
    border-radius: var(--panel-border-radius);
    overflow-y: auto;
    transition: visibility 0.1s ease-out, opacity 0.1s ease-out, top 0.1s ease-out, left 0.1s ease-out;
}