@font-face {
    font-family: "Geo";
    src: url("../fonts/NMSGeoSansLight.ttf");
}

@font-face {
    font-family: "Josefin";
    src: url("../fonts/JosefinSans.ttf");
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/LatoRegular.ttf");
}

:root {

    /* base background and fonts */
	--background: rgb(240, 240, 240);
    --title-font: Geo;
    --header-font: Josefin;
    --text-font: Lato;
    --text-color: rgb(0, 0, 0);
    --text-color-light: rgb(50, 50, 50);
    --cursor-pointer: pointer;

    /* inputs */
    --input-border-radius: 10px 10px 10px 10px;
    --input-border-color: rgb(10, 10, 10);
    --input-color: rgb(240, 240, 240);
    --input-color-hover: rgb(190, 220, 240);
    --input-color-active: rgb(150, 200, 240);
    --input-font-color-active: rgb(0, 0, 0);

    /* mechanical buttons */
    --mech-color: rgb(240, 240, 240);
    --mech-div-color: rgb(200, 200, 200);
    --mech-color-hover: rgb(190, 220, 240);
    --mech-div-color-hover: rgb(120, 190, 230);
    --mech-color-active: rgb(50, 150, 200);
    --mech-div-color-active: rgb(0, 75, 150);
	--mech-border-color: rgb(10, 10, 10);
	--mech-div-border-color: rgb(50, 50, 50);
    --mech-font-color: rgb(0, 0, 0);
    --mech-font-color-active: rgb(255, 255, 255);
    --mech-color-sel: rgb(50, 150, 200);
    --mech-div-color-sel: rgb(0, 75, 150);
    --mech-color-hover-sel: rgb(70, 170, 220);
    --mech-div-color-hover-sel: rgb(20, 95, 170);
    --mech-color-active-sel: rgb(30, 130, 180);
    --mech-div-color-active-sel: rgb(0, 50, 130);
	--mech-border-color-sel: rgb(10, 10, 10);
	--mech-div-border-color-sel: rgb(50, 50, 50);
    --mech-font-color-sel: rgb(255, 255, 255);
    --mech-font-color-active-sel: rgb(255, 255, 255);
	--mech-border-radius: 20px 5px 20px 5px;

    /* panels */
    --panel-color: rgb(240, 240, 240);
    --panel-shadow: 1px 3px 2px rgba(0, 0, 0, 0.5);
    --panel-border-color: rgb(10, 10, 10);
    --panel-border-radius: 10px 10px 10px 10px;

    /* tabs */
    --navbar-color: rgb(230, 230, 230);
    --navbar-border-radius: 10px 10px 0px 0px;
    --navbar-underline-color: rgb(50, 150, 200);
    --navbar-underline-border-radius: 0px 0px 10px 10px;
    --navbar-tab-color: rgb(230, 230, 230);
    --navbar-tab-color-hover: rgb(180, 220, 240);
    --navbar-tab-color-active: rgb(160, 200, 240);
    --navbar-tab-color-sel: rgb(160, 200, 240);
    --navbar-tab-color-hover-sel: rgb(170, 210, 250);
    --navbar-tab-color-active-sel: rgb(150, 190, 230);
    --navbar-tab-border: 1px solid rgb(200, 200, 200);
    --navbar-tab-font-color: rgb(0, 0, 0);
    --navbar-tab-font-color-sel: rgb(0, 0, 0);

    /* sliders */
    --slider-div-color: rgb(240, 240, 240);
    --slider-div-color-hover: rgb(230, 230, 230);
    --slider-div-color-active: rgb(220, 220, 220);
    --slider-color: rgb(200, 200, 200);
    --slider-color-hover: rgb(180, 180, 180);
    --slider-border-color: rgb(200, 200, 200);
    --slider-border-color-hover: rgb(200, 200, 200);
    --slider-border-radius: 5px 5px 5px 5px;
    --slider-handle-color: rgb(220, 220, 220);
    --slider-handle-border-color: rgb(40, 40, 40);
    --slider-handle-color-hover: rgb(230, 230, 230);
    --slider-handle-color-active: rgb(210, 210, 210);
    --slider-handle-border-color-active: rgb(10, 10, 10);
    --slider-handle-border-radius: 12.5px 12.5px 12.5px 12.5px;

}

html, body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: var(--background);
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

button {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.noselect {
    user-select: none;
}

.clickthru {
    pointer-events: none;
}