/* boolean selector (switch) */

div.switchcontainer {
    position: absolute;
    background: var(--compound-background-color);
    transition: background-color 0.1s ease-out, background-image 0.1s ease-out;
}

div.switchcontainer p {
    text-wrap: nowrap;
}

div.switchcontainer:hover {
    background: var(--compound-background-color-hover);
}

div.switchcontainer:active {
    background: var(--compound-background-color-active);
}

div.switch {
    position: absolute;
    cursor: var(--cursor-pointer);
    right: 5%;
    top: 10px;
    width: 60px;
    height: 30px;
    background: var(--switch-color);
    border: 1px solid var(--switch-border-color);
    border-radius: var(--input-border-radius);
    transition: background-color 0.1s ease-out, background-image 0.1s ease-out;
}

div.switch.on {
    background: var(--switch-color-on);
}

div.switch div.handle {
    position: absolute;
    left: 3px;
    top: 2px;
    width: 24px;
    height: 20px;
    background: var(--switch-handle-color);
    border: 1px solid var(--switch-handle-border-color);
    border-radius: var(--switch-handle-border-radius);
    transition: left 0.2s ease-out, background-color 0.1s ease-out, background-image 0.1s ease-out, border-color 0.1s ease-out;
}

div.switch.on div.handle {
    left: 30px;
    background: var(--switch-handle-color-on);
    border: 1px solid var(--switch-handle-border-color-on);
}

div.switch div.handlediv {
    position: absolute;
    left: 3px;
    top: 5px;
    width: 24px;
    height: 21px;
    background: var(--switch-handle-div-color);
    border: 1px solid var(--switch-handle-div-border-color);
    border-radius: var(--switch-handle-border-radius);
    transition: left 0.2s ease-out, background-color 0.1s ease-out, background-image 0.1s ease-out, border-color 0.1s ease-out;
}

div.switch.on div.handlediv {
    left: 30px;
    background: var(--switch-handle-div-color-on);
    border: 1px solid var(--switch-handle-div-border-color-on);
}