/* text and headers and things */

p {
    position: absolute;
    user-select: none;
    font: 16px var(--text-font);
    color: var(--text-color);
}

p.light {
    color: var(--text-color-light);
}

p.small {
    font-size: 12px;
}

h3 {
    position: absolute;
    user-select: none;
    font: 24px var(--header-font);
    color: var(--text-color);
}
